// ----------------------- CONFIG ----------------------- 
*
    box-sizing: border-box
    margin: 0
    padding: 0
    // font-family: 'Open Sans', sans-serif
    font-family: 'Lato', sans-serif

// ----------------------- CONFIG -----------------------

// ----------------------- MAIN PAGES -----------------------

.page
    height: 100vh
    min-height: 500px
    // background-image: url(images/bg.jpeg)
    background-position: center center
    background-repeat: no-repeat
    // background-attachment: fixed
    background-size: cover

#header
    font-size: 8vh

#email
    font-size: 3vh

#landing-page
    background-image: url('assets/Aaron_Diamond_Knives-004.jpg')

    #items
        display: flex
        justify-content: center

    div
        height: 100vh
        // display: flex
        // align-items: center
        // margin-right: 3.33%
        width: 100vw

        p
            width: 50vw
            margin-left: 3.33%
            // background-color: rgba(0,0,0, 0.40)
            // padding: 3rem
            color: black
            line-height: 2
#about-me
    background-image: url('assets/Aaron_Diamond_Knives-096.jpg')
    overflow: hidden

    div
        height: 100vh
        display: flex
        align-items: center
        justify-content: center
        flex-direction: column
        margin-left: 3.33%
        width: 33vw
        overflow: hidden

    h3
        background-color: rgba(0,0,0, 0.40)
        width: 100%
        text-align: center
        border-radius: 2.5px 2.5px 0px 0px
        padding-top: 1.5rem
        font-size: 3vh
        color: white

    p
        // width: 33vw
        margin-left: auto
        background-color: rgba(0,0,0, 0.40)
        padding: 3rem
        color: white
        line-height: 3
        border-radius: 0px 0px 2.5px 2.5px

#products
    background-image: url('assets/Aaron_Diamond_Knives-057.jpg')
    overflow: hidden

    div
        height: 100vh
        display: flex
        align-items: center
        justify-content: center
        flex-direction: column

        margin-left: 3.33%
        width: 33vw
        overflow: hidden

    h3
        background-color: rgba(0,0,0, 0.40)
        width: 100%
        text-align: center
        border-radius: 2.5px 2.5px 0px 0px
        padding-top: 1.5rem
        font-size: 3vh
        color: white

    p
        // width: 33vw
        margin-left: auto
        background-color: rgba(0,0,0, 0.40)
        padding: 3rem
        color: white
        line-height: 1
        border-radius: 0px 0px 2.5px 2.5px

#buy-a-knife
    background-image: url('assets/Aaron_Diamond_Knives-100.jpg')
    overflow: hidden

    div
        height: 100vh
        display: flex
        align-items: flex-end
        justify-content: center
        flex-direction: column
        margin-left: 3.33%
        width: 33vw
        overflow: hidden

    h3
        background-color: rgba(0,0,0, 0.40)
        width: 100%
        text-align: center
        border-radius: 2.5px 2.5px 0px 0px
        padding-top: 1.5rem
        font-size: 3vh
        color: white

    p
        // width: 33vw
        margin-left: auto
        background-color: rgba(0,0,0, 0.40)
        padding: 3rem
        color: white
        line-height: 1
        border-radius: 0px 0px 2.5px 2.5px

#other-services
    background-image: url('assets/Aaron_Diamond_Knives-012.jpg')
    overflow: hidden

    div
        height: 100vh
        display: flex
        align-items: center
        justify-content: center
        flex-direction: column
        margin-left: 3.33%
        width: 33vw
        overflow: hidden

    h3
        background-color: rgba(0,0,0, 0.40)
        width: 100%
        text-align: center
        border-radius: 2.5px 2.5px 0px 0px
        padding-top: 1.5rem
        font-size: 3vh
        color: white

    p
        // width: 33vw
        margin-left: auto
        background-color: rgba(0,0,0, 0.40)
        padding: 3rem
        color: white
        line-height: 3
        border-radius: 0px 0px 2.5px 2.5px

#header2
    text-align: center
    font-size: 5vh
    margin-top: 5rem

#main-section
    padding-top: 7rem
    display: grid
    grid-template-columns: auto auto auto
    grid-template-rows: 1fr 1fr 1fr
    grid-gap: 7rem
    justify-content: center
    height: 100vh
    background-color: white
    z-index: 0

    .card
        // background-color: #EBEDEF
        border-radius: 0px
        position: relative
        height: 450px
        width: 450px
        // box-shadow: 0 1px 1px #4949491c,0 2px 2px #2c2c2c1c, 0 4px 4px #2c2c2c1c,0 8px 8px #2c2c2c1c, 0 16px 16px #2c2c2c1c, 0 32px 32px #2c2c2c1c
        text-align: center
        line-height: 1.5
        background-position: center center
        background-repeat: no-repeat
        background-size: contain
        // // background-attachment: fixed
        // background-size: cover
        text-align: center
        margin: auto
        padding: 0

    .one
        background-image: url('assets/other/IMG_0001 2.JPG')
    .two
        background-image: url('assets/other/IMG_0005 2.JPG')
    .three
        background-image: url('assets/other/IMG_0008 2.JPG')
        transform: rotate(90deg)
    .four
        background-image: url('assets/other/IMG_0011 2.JPG')

    .five
        background-image: url('assets/other/IMG_0012 2.JPG')

    .six
        background-image: url('assets/other/pencil.jpg')

    .seven
        background-image: url('assets/other/IMG_0015 2.JPG')

    .eight
        background-image: url('assets/other/IMG_0017 2.JPG')

    .nine
        background-image: url('assets/other/IMG_0019 2.JPG')

    .ten
        background-image: url('assets/other/Aaron_knife 1.png')
        transform: rotate(-90deg)

    .eleven
        background-image: url('assets/other/IMG_0022 2.JPG')

    .twelve
        background-image: url('assets/other/IMG_0032.JPG')

// ----------------------- MAIN PAGES -----------------------

#logo
    height: 25%

@media screen and (max-width: 800px)
    #about-me, #buy-a-knife, #other-services, #products

        div
            margin: 0
            // overflow: hidden
            width: 100vw
            height: 100vh
            // border-radius: 0px
            p
                width: 100%
                height: 100%
                line-height: 1.5
                // overflow: hidden

    #landing-page
        #items
            // display: flex
            // justify-content: center

            div
                margin-top: 2rem
                height: 100vh
                // display: flex
                // align-items: center
                margin-left: 10%
                width: 100vw

                p
                    width: 50vw
                    margin-left: 3.33%
                    color: red
                    // background-color: rgba(0,0,0, 0.40)
                    // padding: 3rem
                    color: black
                    line-height: 1
            #email
                margin-top: 25rem
                text-align: center

@media screen and (max-width: 800px)
    #main-section
        overflow: hidden
        padding-top: 7rem
        display: grid
        grid-template-columns: auto
        grid-template-rows: 1fr
        grid-gap: 7rem
