* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

.page {
  height: 100vh;
  min-height: 500px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

#header {
  font-size: 8vh;
}

#email {
  font-size: 3vh;
}

#landing-page {
  background-image: url("assets/Aaron_Diamond_Knives-004.jpg");
}

#landing-page div {
  height: 100vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

#landing-page div p {
  width: 50vw;
  margin-left: auto;
  padding: 3rem;
  color: black;
  line-height: 2;
}

#about-me {
  background-image: url("assets/Aaron_Diamond_Knives-096.jpg");
}

#about-me div {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 3.33%;
  width: 33vw;
}

#about-me div p {
  margin-left: auto;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 3rem;
  color: white;
  line-height: 3;
  border-radius: 2.5px;
}

#products {
  background-image: url("assets/Aaron_Diamond_Knives-057.jpg");
}

#products div {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 3.33%;
  width: 33vw;
}

#products div p {
  margin-left: auto;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 3rem;
  color: white;
  line-height: 2;
  border-radius: 2.5px;
}

#buy-a-knife {
  background-image: url("assets/Aaron_Diamond_Knives-100.jpg");
}

#buy-a-knife div {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 3.33%;
  width: 100%;
}

#buy-a-knife div p {
  width: 33vw;
  margin-left: auto;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 3rem;
  color: white;
  line-height: 2;
  border-radius: 2.5px;
}

#other-services {
  background-image: url("assets/Aaron_Diamond_Knives-012.jpg");
}

#other-services div {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-left: 3.33%;
  width: 100%;
}

#other-services div p {
  width: 33vw;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 3rem;
  color: white;
  line-height: 2;
  border-radius: 2.5px;
  margin-top: 3.33%;
}

#header2 {
  text-align: center;
  font-size: 5vh;
  margin-top: 5rem;
}

#main-section {
  padding-top: 7rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 7rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  background-color: white;
  z-index: 0;
}

#main-section .card {
  border-radius: 0px;
  position: relative;
  height: 450px;
  width: 450px;
  text-align: center;
  line-height: 1.5;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  text-align: center;
  margin: auto;
  padding: 0;
}

#main-section .one {
  background-image: url("assets/other/IMG_0001 2.JPG");
}

#main-section .two {
  background-image: url("assets/other/IMG_0005 2.JPG");
}

#main-section .three {
  background-image: url("assets/other/IMG_0008 2.JPG");
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

#main-section .four {
  background-image: url("assets/other/IMG_0011 2.JPG");
}

#main-section .five {
  background-image: url("assets/other/IMG_0012 2.JPG");
}

#main-section .six {
  background-image: url("assets/other/IMG_0014 2.JPG");
}

#main-section .seven {
  background-image: url("assets/other/IMG_0015 2.JPG");
}

#main-section .eight {
  background-image: url("assets/other/IMG_0017 2.JPG");
}

#main-section .nine {
  background-image: url("assets/other/IMG_0019 2.JPG");
}

#main-section .ten {
  background-image: url("assets/other/Aaron_knife 1.png");
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

#main-section .eleven {
  background-image: url("assets/other/IMG_0022 2.JPG");
}

#main-section .twelve {
  background-image: url("assets/other/IMG_0032.JPG");
}

@media screen and (max-width: 800px) {
  #about-me div, #buy-a-knife div, #other-services div, #products div, #landing-page div {
    margin: 0;
  }
  #about-me div p, #buy-a-knife div p, #other-services div p, #products div p, #landing-page div p {
    width: 100%;
    line-height: 1.5;
  }
}

@media screen and (max-width: 800px) {
  #main-section {
    padding-top: 7rem;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    grid-gap: 7rem;
  }
}
/*# sourceMappingURL=styles.css.map */